.board {
    width: 96%;
    margin: 0 auto;
    position: relative;
    height: 80%;
}

.board-item {
    width: 23%;
    height: 90%;
    float: left;
    margin: 1.7% 0.2%;
    border: 1px #ccc solid;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #aaa;
    color: #484848;
    overflow: hidden;
    position: relative;
}

.board-item-title {
    width: 100%;
    height: 10%;
    background-color: #F1F1F1;
    position: absolute;
    top: 0%;
    left: 0;
}

.board-item-title h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 1.5%;
}

.board-item-title span {
    font-size: 0.8em;
    top: 59%;
    left: 2%;
    position: absolute;
    color: #777;
}

.board-item-slots {
    width: 100%;
    position: absolute;
    top: 11%;
    height: 89%;
    left: 0;
    background-color: white;
}

.first {
    margin-left: 1% !important;
}

.board-item-repeat {
    width: 24.3%;
    height: 90%;
    float: left;
    margin: 1.7% 0.5%;
    color: #484848;
    overflow: hidden;
    position: relative;
}

.board-item-repeat-title {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0%;
    left: 0;
}

.board-item-repeat-title h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 1.5%;
}

.board-item-repeat-title span {
    font-size: 0.8em;
    top: 59%;
    left: 2%;
    position: absolute;
    color: #777;
}

.board-item-repeat-slots {
    width: 100%;
    position: absolute;
    top: 11%;
    height: 89%;
    left: 0;
}

.green-slot {
    width: 96%;
    height: 9%;
    margin: 2% auto;
    border: 1px #D6D6D6 solid;
    border-radius: 8px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.green-slot-color {
    width: 3%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #82C31F;
}

.green-slot-text {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 3%;
}

.green-slot-title {
    font-size: 0.8em;
    position: absolute;
    top: 10%;
    left: 3%;
}

.green-slot-code {
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    left: 3%;
}

.green-slot-corner {
    font-size: 0.7em;
    position: absolute;
    bottom: 10%;
    right: 0%;
    color: #aaa;
}

.slot-add {
    width: 96%;
    height: 9%;
    margin: 2% auto;
    border: 1px #D6D6D6 solid;
    border-radius: 8px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.slot-add-color {
    width: 14%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #26AFDF;
    font-size: 2em;
    text-align: center;
    color: white;
}

.slot-add-color span {
    position: absolute;
    top: -8%;
    left: 25%;
}

.slot-add-title {
    font-size: 0.8em;
    position: absolute;
    left: 17%;
    top: 10%;
    color: rgb(47, 114, 143);
    text-shadow: 0px 0px 1px rgb(175, 218, 236);
}

.slot-add-credit {
    font-size: 0.7em;
    position: absolute;
    left: 17%;
    top: 50%;
    color: rgb(162, 170, 173);
}

.board-item-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #26AFDF;
}

.board-item-footer .btn-primary {
    position: absolute;
    top: 23%;
    left: 22%;
    font-size: 1.1em;
    border: 1px #027BAF solid;
    background-color: transparent;
    width: 55%;
    height: 55%;
}

.board-item-footer .btn-primary span {
    width: 98%;
    height: 95%;
    background-color: #027BAF;
    position: absolute;
    top: 2.8%;
    left: 1%;
    border-radius: 3px;
    padding-top: 3%;
}

.tp {
    width: 17px;
    height: 17px;
    background-color: #FF567A;
    border-radius: 100%;
    font-size: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 2%;
    top: 10%;
    padding-left: 5px;
    border: 1px #555 solid;
    cursor: pointer;
}

.tooltip-arrow,
.red-tooltip+.tooltip>.tooltip-inner {
    background-color: white;
    border: 1px #555 solid;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: -5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}