.empty-slot{
    width: 96%;
    height: 9%;
    margin: 2% auto;
    border: 1px #D6D6D6 dashed;
    border-radius: 3px;
    background-color: white;
}

.empty-slot-text{
    margin: 4.2% 6%;
    font-size: 0.8em;
    color: #D6D6D6;
}