

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #9ca4ab;
    background-color: #FAFAFA;
    font-family: Open Sans, Helvetica, sans-serif;
}

@import "home.scss";
@import "filter.scss";
@import "board.scss";
@import "emptySlot.scss";

  