body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: #9ca4ab;
  background-color: #FAFAFA;
  font-family: Open Sans, Helvetica, sans-serif; }

.hotspot {
  width: 1366px;
  height: 804px;
  background-color: #FAFAFA;
  margin: 0 auto; }

.home-nav {
  width: 100%; }

.home-nav h1 {
  color: #484848;
  padding-top: 5%;
  font-size: 1.4em;
  font-weight: bold;
  float: left; }

.bg-success {
  background-color: #7FC12F !important; }

.circle {
  background-color: #D14664;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  font-size: 0.7em;
  padding-left: 3px;
  padding-top: 1px;
  color: white;
  float: left;
  margin-top: 0%; }

.filter {
  width: 96%;
  margin: 0% auto;
  border-radius: 6px;
  background-color: #F1F1F1;
  height: 6%;
  border: 1px #E6E6E6 solid;
  box-shadow: 0px 0px 5px #eee; }

.board {
  width: 96%;
  margin: 0 auto;
  position: relative;
  height: 80%; }

.board-item {
  width: 23%;
  height: 90%;
  float: left;
  margin: 1.7% 0.2%;
  border: 1px #ccc solid;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #aaa;
  color: #484848;
  overflow: hidden;
  position: relative; }

.board-item-title {
  width: 100%;
  height: 10%;
  background-color: #F1F1F1;
  position: absolute;
  top: 0%;
  left: 0; }

.board-item-title h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 1.5%; }

.board-item-title span {
  font-size: 0.8em;
  top: 59%;
  left: 2%;
  position: absolute;
  color: #777; }

.board-item-slots {
  width: 100%;
  position: absolute;
  top: 11%;
  height: 89%;
  left: 0;
  background-color: white; }

.first {
  margin-left: 1% !important; }

.board-item-repeat {
  width: 24.3%;
  height: 90%;
  float: left;
  margin: 1.7% 0.5%;
  color: #484848;
  overflow: hidden;
  position: relative; }

.board-item-repeat-title {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0%;
  left: 0; }

.board-item-repeat-title h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 1.5%; }

.board-item-repeat-title span {
  font-size: 0.8em;
  top: 59%;
  left: 2%;
  position: absolute;
  color: #777; }

.board-item-repeat-slots {
  width: 100%;
  position: absolute;
  top: 11%;
  height: 89%;
  left: 0; }

.green-slot {
  width: 96%;
  height: 9%;
  margin: 2% auto;
  border: 1px #D6D6D6 solid;
  border-radius: 8px;
  background-color: white;
  position: relative;
  overflow: hidden; }

.green-slot-color {
  width: 3%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #82C31F; }

.green-slot-text {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 3%; }

.green-slot-title {
  font-size: 0.8em;
  position: absolute;
  top: 10%;
  left: 3%; }

.green-slot-code {
  font-size: 0.7em;
  position: absolute;
  top: 50%;
  left: 3%; }

.green-slot-corner {
  font-size: 0.7em;
  position: absolute;
  bottom: 10%;
  right: 0%;
  color: #aaa; }

.slot-add {
  width: 96%;
  height: 9%;
  margin: 2% auto;
  border: 1px #D6D6D6 solid;
  border-radius: 8px;
  background-color: white;
  position: relative;
  overflow: hidden; }

.slot-add-color {
  width: 14%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #26AFDF;
  font-size: 2em;
  text-align: center;
  color: white; }

.slot-add-color span {
  position: absolute;
  top: -8%;
  left: 25%; }

.slot-add-title {
  font-size: 0.8em;
  position: absolute;
  left: 17%;
  top: 10%;
  color: #2f728f;
  text-shadow: 0px 0px 1px #afdaec; }

.slot-add-credit {
  font-size: 0.7em;
  position: absolute;
  left: 17%;
  top: 50%;
  color: #a2aaad; }

.board-item-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #26AFDF; }

.board-item-footer .btn-primary {
  position: absolute;
  top: 23%;
  left: 22%;
  font-size: 1.1em;
  border: 1px #027BAF solid;
  background-color: transparent;
  width: 55%;
  height: 55%; }

.board-item-footer .btn-primary span {
  width: 98%;
  height: 95%;
  background-color: #027BAF;
  position: absolute;
  top: 2.8%;
  left: 1%;
  border-radius: 3px;
  padding-top: 3%; }

.empty-slot {
  width: 96%;
  height: 9%;
  margin: 2% auto;
  border: 1px #D6D6D6 dashed;
  border-radius: 3px;
  background-color: white; }

.empty-slot-text {
  margin: 4.2% 6%;
  font-size: 0.8em;
  color: #D6D6D6; }

/*# sourceMappingURL=index.css.map */